
$font-family-body:      'Open Sans', sans-serif;

$base-color:            white;
$color:                 black;
$color-bg-button:       rgb(204, 141, 204);
$color-bg-blue:         blue;

$border:                solid 3px black;
$border-blue:           solid 1px blue;
$border-grey:           solid 1px grey;
$border-button-purple:  solid 3px rgb(204, 141, 204);
$border-thin:           solid 1px black;

$shadow-grey:           5px 5px 20px gray; 

