@import 'variables';

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.about { 
  border: $border-thin;
  box-shadow: $shadow-grey;
  margin: 1rem auto;   
  padding: 0.5rem;
  display: flex;
  flex-direction: column; 
  width: 50%; 
}

.about__header {
  text-align: center; 
  margin: auto;
}

.about__image {  
  height: 12rem; 
}

.about__body { 
  display: flex;
  flex-direction: column;
  height: 26rem;
  justify-content: space-around;
  margin: 0.5rem;
}

.about__name {
  text-align: center ;
  margin: 0.5rem;
}

.about__description {
  font-size: 1.1rem;
}

.about__list {
  padding: 1rem;
}

.about__link {
  text-decoration: none;
}


@media screen and (min-width: 1024px) {
  .about { 
    margin: 3rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;  
    width: 80%; 
  }

  .about__image {  
    height: 22rem;  
  }

  .about__body {  
    height: 30rem; 
    width: 60%; 
    margin: 1rem;
    font-size: 1.2rem;
    padding: 2rem;
  }


  .about__description {
    font-size: 1.2rem;
  }

}

