* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.home {  
  margin: 2rem 5rem;
}

.home__title {  
  text-align: center;
  margin: 2rem;  
}

.home__cards {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
}

.home_alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;  
  padding: 1rem 1rem;
  margin: 3rem auto 0;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  width: 40%;  
  text-align: center;
}
