* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.navbar {
  box-shadow: 0 4px 10px gray; 
  padding: 1rem 0;
  height: 3.5rem;
  border: solid 1px red;
}

.none {
  display: none;
}

.navbar__menu--active {
  border: solid 1px red;
}

.navbar__title {
  margin-right: 0;
  border: solid 1px blue;
}

.navbar__menu a { 
  display: block;
  color: black;  
  margin: 0.5rem;          
  text-decoration: none;  
}

.navbar__menu {
  border: solid 1px green;
  position: fixed;
  left: 0; 
  width: 20%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  .navbar {
    box-shadow: 0 4px 10px gray; 
    padding: 1rem 0;
  }

  .navbar__menu--active {
    display: none;
  }

  .navbar__menu {
    align-items: center;  
    display: flex;  
    justify-content: space-between;
    padding: 0.5rem;  
  }

  .navbar__title {    
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem; 
  }

  .navbar__link {  
    color: black;
    margin: 1rem;    
    text-decoration: none;
  }

  .navbar__button {
    border: solid 1px black;
    font-weight: bold;
    padding: 1rem 1.5rem;  
  }

  .navbar__button--dark {
    background-color: black;
    color: white;
  }  
}

